<div class="container">
       <div class="row">
        <div class="col s12 m8 offset-m2 center-align">
          <div class="card black darken-1 center-align">
            <div class="card-content white-text center-align">

              <span class="card-title">Log in</span>

              <h6>Sign in to your nu.notes music profile</h6>

              <div class="input-field col s6 center-align">

                <form action="login" method="POST" class="form" href="/login">
                <legend>Log in</legend>
                  <div class="input-field"> 
                    <div class="form-group">
                    <span class="help-block"></span>
                      <input type="email" name="email" placeholder="Email" class="form-control">        
                      <input type="password" name="password" placeholder="Password" class="form-control">
                  </div>
                </div>
  
        <button type="submit" action="/login" class="btn">Log in</button>
</form>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
