<div class="container">
       <div class="row center-align">
        <div class="col s8 offset-m2 center-align">
          <div class="card black darken-1 center-align">
            <div class="card-content white-text center-align">

              <span class="card-title">Log in</span>

              <h6>Sign in to your nu.notes music profile</h6>

              <div class = "valign wrapper">

                <div class="input-field col s9 center-align">

                  <center><form action="login" method="POST" class="form center-align" href="/login" id="form">
                    <div class="input-field center-align"> 
                      <div class="form-group center-align">
                        <input type="email" name="email" placeholder="Email" class="form-control center-align">        
                        <input type="password" name="password" placeholder="Password" class="form-control center-align">
                        </div>
                  </div>
                </div>
                      <button type="submit" action="/login" class="waves-effect waves-teal btn-flat">Log in</button>
                  </form>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
