

<script>
$(document).ready(function(){
    $("button").click(function(){
        $("#div1").fadeIn(2000);
        $("#div2").fadeIn(4000);
        // $("#div3").fadeIn(3000);
    });
});
</script>



<button type="button" class="waves-effect waves-light btn-large black lighten-5"><i class="small mdi-file-album right">About nu.notes</i></button>

<div id="div1" style="width:300px;height:100px;display:none;background-color:black;">
<h4>Discover New Music</h4>
</div>

<div id="div2" style="width:300px;height:100px;display:none;background-color:black;">
<h5>nu.notes is a music app that helps you find new music. <a href="/signup">Sign up now</a></h5>
</div>