

<script>
$(document).ready(function(){
    $("button").click(function(){
        $("#div1").fadeIn(2000);
        $("#div2").fadeIn(4000);
        // $("#div3").fadeIn(3000);
    });
});
</script>



<button type="button" class="waves-effect waves-light btn-large"><i class="small mdi-file-album right">About nu.notes</i></button>

<div id="div1" style="width:300px;height:100px;display:none;background-color:black;">
<h4><i class="small material-icons">album</i>discover new music</h4>
</div>

<div id="div2" style="width:300px;height:150px;display:none;background-color:black;">
<h6>nu.notes is a music app that helps you find new music. <a href="/signup">Sign up now</a></h6>
</div>

<!-- <nav>
	<div class="nav-wrapper blue-grey darken-3">
		<a href="#" class="brand-logo center">nu.notes</a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
		</ul>
	</div>
</nav> -->

<!-- <div class="row">
        <div class="col s12 m3">
          <div class="card-panel teal lighten-2">
            <div class="card-content black-text">
              <span class="card-title">nu.notes</span>
              <p>Share music with friends</p>
            </div>
            <div class="card-action">
              <a href="#">About</a>
              <a href="#">Fork on Git</a>
            </div>
          </div>
        </div> -->
<!-- 
  <div class="card large">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://photo-blog.hayleenighbertphotography.com/wp-content/uploads/2015/11/background02.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">nu.notes<i class="material-icons right"></i></span>
      <p><a href="#">Sign up for a free account</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">A new way to find music<i class="material-icons right">close</i></span>
      <p>nu.notes connects people through music. Find and share new music with friends and find out about new events in your area.</p>
    </div>
  </div> -->

<!-- <center>
<div class="container">
<div class="valign-wrapper">
      <div class="valign">
        <div class="input-field col s6 center-align">

    <form method="POST" class="form" href="/login" text-align="center">

	  <input type="email" name="email" placeholder="Email" class="form-control" />
		<input type="password" name="password" placeholder="Password" class="form-control" />
		<input type="submit" value="Log in" action="/login" class="waves-effect waves-teal btn-flat" />
		
    </form>

    <a href="/signup" class="waves-effect waves-teal btn-flat">Signup</a>


		</div>
	</div>
</div> -->
<!-- 
<div class="card-panel hoverable col s3"><a href="/about">Find out more</a></div> -->
