<!DOCTYPE html>
<html>
<head>

<title>nu.notes</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript" src="controllers/music.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    
    <link rel="stylesheet" type="text/css" href="/css/vegas.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/script/vegas.js"></script>
    <script src="/script/script.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>
<body>

<nav>
    <div class="nav-wrapper teal lighten-3">
      <a href="#" class="brand-logo"><img src="http://photo-blog.hayleenighbertphotography.com/wp-content/uploads/2015/11/nunotes.png" alt="nu.notes" height="75" width="75"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down grey darken-4">
        <a href="/favorite">Profile</a>
    <ul class="nav navbar-nav navbar-top grey darken-4">
      <% if (currentUser) { %>
        <li><a href="/auth/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
      <% } %>
    </ul>
  </nav>
</div>
</div>
        <%- body %>
      </div>
    </div>
  </section>

    <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">© Haylee Nighbert 2015</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/hayleenoelle">LinkedIn</a>&nbsp;&nbsp;<a href="https://github.com/hayleenighbert">GitHub</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Haylee Nighbert 2015
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

</body>
</html>

