<!-- 	<form action="/music/mood" method="POST">
		<legend>Mood</legend>
		<div class="input-field"> 
			<div class="form-group">
				<label class="control-label" for="">label</label>
				<span class="help-block"></span>
				<input type="text" class="form-control" id="" placeholder="How are you feeling today?">
			</div>
		</div>
		
		<button type="submit" class="btn">Happy</button>
		<button type="submit" class="btn">Relaxed</button>
		<button type="submit" class="btn">Excited</button>
		<button type="submit" class="btn">Sad</button>
		<button type="submit" class="btn">Angry</button>
	</form> -->
	<div class="container">
		<div class="row" style="text-align: center">
		<% myData.response.mood.forEach(function(item){ %>
	<% var ID = item.name %><%= item.name %>
	<%= JSON.stringify(item) %>
	<div class="row" style="text-align: center">
		<form method="POST" action="/favorite"><h6>
			<input class="name" type="hidden" value="<%-item.name%>" name="name"></h6>
			<input class="btn btn-info" type="submit" value="Mood">

<% }) %>

	</form>
	</div>
	</div>

	</div>
</div>
