	<div class="container">
	<div class="row" style="text-align: center">
		<h4><i class="material-icons">queue_music</i>Results</h4>
	</div>

	<div class="row" style="text-align: center">
	<% myData.response.artists.forEach(function(item){ %>
	<% var ID = item.name %><%= item.name %>
	</div>
	<%= JSON.stringify(item) %>
	<div class="row" style="text-align: center">
		<form method="POST" action="/favorite">
			<input class="name" type="hidden" value="<%-item.name%>" name="name">
			<input class="bio" type="hidden" value="<%- item.album%>" name="album">
			<input class="btn btn-info" type="submit" value="Add Artist">

<% }) %>

	</div>
</div>
</form>
