	<div class="container">
	<div class="row">
		<h4><i class="material-icons">queue_music</i>Artists Results</h4>
	</div>

	<div class="row" style="text-align: center">
	<h2><% myData.response.artists.forEach(function(item){ %>
	<% var ID = item.name %><%= item.name %></h2>
	</div>

	<div class="row" style="text-align: center">
		<form method="POST" action="/profile">
			<input class="name" type="hidden" value="<%-item.name%>" name="name">
			<input class="bio" type="hidden" value="<%- item.bio%>" name="bio">

<% }) %>

	</div>
</div>
</form>


