<div class="valign wrapper">
	<div class="card-panel hoverable black center-align">
		<form class="form-inline" role="form" id="search-bar" action="/music/results" method="GET">

		<label for="search">Type in an artist</label>
	
			<div class="form-group" style="text-align: center">
				<input type="text" class="form-control" id="search-bar" placeholder="Search" name="s">

				<button type="submit" class="waves-effect waves-light btn-small">Submit</button>

			</div>
	</div>

		</form><!-- 

<div class="row">
	<div class="col s12 m6">
		<div class="card small blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Search by Artist</span>
					<form class="form-inline" role="form" id="search-bar" action="/music/results" method="GET">

					<label for="search">Type in an artist</label>
	
					<div class="form-group" style="text-align: center">
						<input type="text" class="form-control" id="search-bar" placeholder="Search" name="s">
						<div class="card-action">
							<button type="submit" class="waves-effect waves-light btn-small">Submit</button>
							
						</div>
					</div>
				</div>
			</div>
		</div> -->