<h2>Profile</h2>

<small>Add/Change Avatar</small>
	<form action="/" method="POST" enctype="multipart/form-data">
		<input type="file" name="myFile">
		<input type="submit">
	</form><br><br>

<button class="waves-effect waves-light btn-small"><a href="/music">Add new Music</a></button>


<% favorites.forEach(function(item) { %>
      <h4><%= item.artist %></h4>
<% }); %>

<!-- //render on the page
 -->

