<h2>Profile</h2>

<small>Add/Change Avatar</small>
	<form action="/" method="POST" enctype="multipart/form-data">
		<input type="file" name="myFile">
		<input type="submit">
	</form><br><br>

	<button><a href="/music">Add new Music</a></button>

<!-- //render on the page
 -->

