<h2>Profile</h2>

<small>Add/Change Avatar</small>
	<form action="/" method="POST" enctype="multipart/form-data">
		<input type="file" name="myFile">
		<input type="submit">
	</form><br><br>

	<button class="waves-effect waves-light btn-small"><a href="/music">Add new Music</a></button>


<% favorite.forEach(function(favorites) { %>
 <div class="container">
      <div class="row">
      <h4><%= item.name %></h4>
    </div>

 </div>
<% }); %>

<!-- //render on the page
 -->

