<div class="container">
<div class="row">
	<h1>Pitchfork top albums</h1>
		<% url.forEach(function(url, index){%>


	<p class="flow-text">
		<a href="http://pitchfork.com<%= url %>"><%= info[index] %></a>
	</p>

<% }) %>
</span>
</div>
