<h2>Hello, <%= name %></h2>

<!-- <small>Add/Change Avatar</small>
	<form action="/" method="POST" enctype="multipart/form-data">
		<input type="file" name="myFile">
		<input type="submit">
	</form><br><br> -->

		<h5>How are you feeling today?</h5>

	<ul id='dropdown1' class='dropdown-content' action="/mood" method="GET">
    <li><a href="#!">Happy</a></li>
    <li class="divider"></li>
    <li><a href="#!">Relaxed</a></li>
    <li class="divider"></li>
    <li><a href="#!">Excited</a></li>
    <li class="divider"></li>
    <li><a href="#!">Sad</a></li>
    <li class="divider"></li>
    <li><a href="#!">Angry</a></li>
    <li class="divider"></li>
  		</ul>



<h3>Saved Artists</h3>
<button type="button" class="waves-effect waves-light btn"><i class="material-icons left">album</i><a href="/music">Add Artists</a></button>
<% favorites.forEach(function(item) { %>
<div class="row">
	<div class="col s12 m5">
		<div class="card-panel grey">
			<span class="white-text"><h5><%= item.artist %></h5>
			</span>
		</div>
	</div>
</div>
      
<% }); %>

<!-- //render on the page
 -->

